* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}

/* MAIN */
main {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-box {
  border: 1px solid #999;
  text-align: center;
  width: 260px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.product-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-weight: 500;
  margin-top: 10px;
}

.product-price {
  color: #555;
}

/* RATING */
.rating-section {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.rating-label {
  font-weight: 500;
  font-size: 18px;
}

.stars {
  display: flex;
  gap: 5px;
  margin: 10px 0 25px;
}

.star {
  font-size: 30px;
  color: #e5a391;
  cursor: pointer;
  transition: transform 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 14px;
}

.checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn-submit {
  background-color: #d6a48b;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #c38b74;
}

/* FOOTER */
footer {
  background: #D9AF9C;
  margin-top: 10px;
  padding: 15px 0;
}

footer .container {
  padding: 0 15px;
}

footer .logo-img {
  height: 35px;
  width: auto;
  filter: brightness(0) invert(1);
}

footer p {
  color: #FFF3CC;
  margin: 5px 0;
  font-size: 12px;
}

.footer-divider {
  border-top: 1px solid #FFF3CC;
  margin: 10px 0;
  opacity: 0.6;
}

.copyright {
  text-align: center;
  color: #FFF3CC;
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .rating-section {
    width: 100%;
  }

  .btn-container {
    justify-content: center;
  }
}
